<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>New Show</title>
    </head>
    <body>
        <h1>Add a Show</h1>
        <form action="/shows" method="POST">
            Name: <input type="text" name="name"/><br/>
            Location: <input type="text" name="location"/><br/>
            Time: <input type="datetime-local" name="time" min="<%Date.now()%>" /><br/>
            Price: <input type="number" name="price"/><br/>
            Description: <input type="text" name="description"/><br/>
            Image Link: <input type="text" name="image"/><br/>
            <input type="submit" value="Add Show"/>
        </form>
        <a href="/shows"><button type="submit">Back to Home</button></a>
    </body>
</html>
