<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>New Show</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <div class="container">
            <h1>Add a Show</h1>
            <form action="/shows" method="POST">
                Name: <input type="text" name="name"/><br/>
                Location: <input type="text" name="location"/><br/>
                Date: <input type="date" name="date" /><br/>
                Time: <input type="time" name="time" /><br/>
                Price: <input type="number" name="price"/><br/>
                Description: <input type="text" name="description"/><br/>
                Image Link: <input type="text" name="image"/><br/>
                <input type="submit" value="Add Show"/>
            </form>
            <a href="/shows"><button type="submit">Back to Home</button></a>
            </div>
    </body>
</html>
